{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Ride Diaries</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
	<body>
		<header >
			<nav class="navbar">
				<h1><a class="home" href="{% url  'home' %}">home</a></h1>
					<ul class=" nav justify-content-end">
					{% if user.is_authenticated %}
						<li>
							<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn">Logout</button>
							</form>
						</li>
						<li><a href="{% url 'articles:create' %}" class="highlight"><button  type="button" class="btn">New Article</button></a></li>
					{% else %}
						<li><a href="{% url 'accounts:login' %}"><button  type="button" class="btn">Login</button></a></li>
						<li><a href="{% url 'accounts:signup' %}"><button  type="button" class="btn">Signup</button></a></li>
					{% endif %}
					</ul>
			</nav>
		</header>
		<div class="wrapper">
			{% block content %}

			{% endblock %}
		</div>
	</body>
</html>

